page-home {

}
ion-grid {
    font-family: arial, sans-serif;
//    border-collapse: collapse;
    width: 100%;
}

ion-col {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
ion-row:nth-child(even) {
}
