<ion-header>
  <ion-navbar color="cool">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cafe Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Day</ion-label>
    <ion-select interface="action-sheet" [(ngModel)]="day">
      <ion-option value="Monday">Monday</ion-option>
      <ion-option value="Tuesday">Tuesday</ion-option>
      <ion-option value="Wednesday">Wednesday</ion-option>
      <ion-option value="Thursday">Thursday</ion-option>
      <ion-option value="Friday">Friday</ion-option>
      <ion-option value="Saturday">Saturday</ion-option>
      <ion-option value="Sunday">Sunday</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label> Time</ion-label>
    <ion-select interface="action-sheet" [(ngModel)]="time">
      <ion-option value="Breakfast">Breakfast</ion-option>
      <ion-option value="Lunch">Lunch</ion-option>
      <ion-option value="Dinner">Dinner</ion-option>
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="dish" placeholder="Dish"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="price" placeholder="price" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button (click)="btnClicked()" ion-button>Add</button>

<button (click)="giff('Monday')" ion-button>Monday</button>
<button (click)="giff('Tuesday')" ion-button>Tuesday</button>
<button (click)="giff('Wednesday')" ion-button>Wednesday</button>
<button (click)="giff('Thursday')" ion-button>Thursday</button>
<button (click)="giff('Friday')" ion-button>Friday</button>
<button (click)="giff('Saturday')" ion-button>Saturday</button>
<button (click)="giff('Sunday')" ion-button>Sunday</button>

<ion-grid>
  <ion-row>
    <ion-col style="text-align:center">
      <strong>Breakfast</strong>
    </ion-col>
    <ion-col style="text-align:center">
      <strong>Lunch</strong>
    </ion-col>
    <ion-col style="text-align:center">
      <strong>Dinner</strong>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>Name</strong>
        </ion-col>
        <ion-col>
          <strong>Price</strong>
        </ion-col>
        <ion-col>
          <strong>Action</strong>
        </ion-col>
      </ion-row>
      <ion-row  *ngFor="let item of BreakfastFood | async;">
        <ion-col>
            <p>{{item.Dish}}</p>
        </ion-col>
        <ion-col>
            <p>{{item.Price}}<p>
        </ion-col>
        <ion-col>
            <p><button (click)="delete(item)" ion-button>delete</button></p>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-col>
    <ion-col>
    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>Name</strong>
        </ion-col>
        <ion-col>
          <strong>Price</strong>
        </ion-col>
        <ion-col>
          <strong>Action</strong>
        </ion-col>
      </ion-row>
      <ion-row  *ngFor="let item of LunchFood | async;">
        <ion-col>
            <p>{{item.Dish}}</p>
        </ion-col>
        <ion-col>
            <p>{{item.Price}}<p>
        </ion-col>
        <ion-col>
            <p><button (click)="delete(item)" ion-button>delete</button></p>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-col>
    <ion-col>
    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>Name</strong>
        </ion-col>
        <ion-col>
          <strong>Price</strong>
        </ion-col>
        <ion-col>
          <strong>Action</strong>
        </ion-col>
      </ion-row>
      <ion-row  *ngFor="let item of DinnerFood | async;">
        <ion-col>
            <p>{{item.Dish}}</p>
        </ion-col>
        <ion-col>
            <p>{{item.Price}}<p>
        </ion-col>
        <ion-col>
            <p><button (click)="delete(item)" ion-button>delete</button></p>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>
